@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to top left ,#5f3dc4, #7948e8 );
}

.container {
    width: 80%;
    height: 100%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jerry {
    width: 50em;
    border-radius: 20px;
    box-shadow: 0 6px 10px 0 #00000060;
}

.btn {
    cursor: pointer;
    margin: 2rem 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    background: #9775fa;
    padding: 10px 25px;
    border-radius: 100px;
    transition: 0.2s;
}

.btn:hover {
    border: 5px solid #9d82f0;
}

.btn:active {
    border: 5px solid #ffffff;
    transform: translateY(3px);
}

.audio {
    color: #ffffff;
    background-color: #9775fa;
    border: none;
    border-radius: 100px;
}